.header {
  z-index: 1000;
  position: fixed;
  top: 0; /* 画面の上部に固定 */
  right: 0;
  left: 0;
  max-width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  padding-right: 250px;
  color: white;
}

.logo {
  /* margin-right: 50%; */
  user-select: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  margin-right: 20px;
  list-style: none;
  display: flex;
  /* gap: 30%; */
  user-select: none;
}

.nav-links li {
  margin-right: 15%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:active {
  color: brown;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.nav-link-last {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link-last:hover {
  text-decoration: underline;
}

.nav-link-last:active {
  color: brown;
}

.active-header {
  opacity: 0;
}
