.home {
  height: 100vh;
  position: relative;
}

.main-contents {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.headLine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: white;
}

.links {
  padding: 0;
  padding-top: 8%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 50%;
}

.links li {
  margin-right: 25%;
  font-size: 130%;
  color: white;
}

.links li:last-child {
  margin-right: 0;
}

.links li a {
  color: white;
  transition: color 0.3s ease;
}

.links li a:active {
  color: brown;
}

a {
  text-decoration: none;
}
