* {
  margin: 0;
  padding: 0;
}

.card-text {
  color: white;
}

.main-contents-wrapper {
  display: flex;
  align-items: center; /* 水平中央揃え */
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;

  height: auto; /* コンテンツの高さに応じて調整 */
  padding: 100px 20px;
  box-sizing: border-box; /* パディングを含めたボックスサイズにする */
}
