html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(11, 7, 23);
  /* background-color: rgb(12, 9, 21); */
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  margin: 0;
}

.App {
  /* position: relative; */
  height: 100vh;
}

.all-container {
  transition: 0.5s;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  color: #fff;
}

.button {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.active-button {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  /* background-color: white; */
  opacity: 1;
}
.active-button i {
  transition: 0.5s;
  position: absolute;
  left: 10px;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.active-button i:nth-of-type(1) {
  top: 20px;
}
.active-button i:nth-of-type(2) {
  top: 30px;
}
.active-button i:nth-of-type(3) {
  top: 40px;
}
.active-button i:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}
.active-button i:nth-of-type(2) {
  opacity: 0;
}
.active-button i:nth-of-type(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.active-all-container {
  transition: 0.5s;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  /* color: #fff; */
  /* opacity: 0.7; */
  pointer-events: auto;
  overflow: hidden;
}

.form {
  z-index: 1001;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* 3D変換を適用します */
  z-index: 1;
}

canvas {
  /* position: absolute; */
  z-index: 2;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out; */
}

.home {
  height: 100vh;
  position: relative;
  z-index: 2;
}

.main-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.headLine {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: white;
}

.links {
  padding: 0;
  padding-top: 8%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 50%;
}

.links li {
  margin-right: 25%;
  font-size: 130%;
  color: white;
}

.links li:last-child {
  margin-right: 0;
}

.links li a {
  color: white;
  transition: color 0.3s ease;
}

.links li a:active {
  color: brown;
}

a {
  text-decoration: none;
}

.fooer-wrapper {
  overflow-x: hidden;
}
